<div class="row">
    <div class="col-md-12">
        <span class="logo-center">
            <span style="font-weight:bolder;">ABC</span>Projetos
        </span>
        <span class="logo-center">
            <span style="font-weight:bolder;">Bem vindo</span>
        </span>
    </div>
</div>

<style>
    .logo-center{
        width: -moz-fit-content;
        width: fit-content;
        display: block;
        margin: 0 auto;
        font-size: 72px;
    }
</style>